<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/game_api_logo.png" />
    <title>Auth | Game API</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <main id="main" class="login">
      <div class="cover"><img src="/images/game_api_logo.png" /></div>
      <form action="/web/register" method="post" class="registerForm">
        <div>
          <h1 class="brand">Game API</h1>
          <h2 class="title">Create an Account</h2>
        </div>
        <div class="inputContainer">
          <label for="email">E-Mail</label>
          <input type="email" id="email" name="email" />
        </div>
        <div class="usernameRoleInputContainer">
          <div class="inputContainer">
            <label for="registerUsername">Username</label>
            <input type="text" id="registerUsername" name="username" />
          </div>
          <div class="inputContainer">
            <label for="isAdmin">Is Admin ?</label>
            <input type="checkbox" name="isAdmin" id="isAdmin" />
          </div>
        </div>
        <div class="nameInputContainer">
          <div class="inputContainer">
            <label for="firstName">First Name :</label>
            <input type="text" name="firstName" id="firstName" />
          </div>
          <div class="inputContainer">
            <label for="lastName">Last Name :</label>
            <input type="text" name="lastName" id="lastName" />
          </div>
        </div>
        <div class="inputContainer">
          <label for="country">Country :</label>
          <select name="country" id="country">
            <option value="" disabled selected>Select Country</option>
          </select>
        </div>
        <div class="passwordsContainer">
          <div class="inputContainer">
            <label for="registerPassword">Password :</label>
            <input type="password" id="registerPassword" name="password" />
          </div>
          <div class="inputContainer">
            <label for="password2">Repeat Password :</label>
            <input type="password" id="password2" name="password2" />
          </div>
        </div>
        <div class="actionsContainer">
          <button type="submit">Register</button>
        </div>
        <span id="changeLogin">Sign-In</span>
      </form>
      <form class="loginForm" action="/web/login" method="post">
        <div>
          <h1 class="brand">Game API</h1>
          <h2 class="title">Sign In</h2>
        </div>
        <div class="inputContainer">
          <label for="username">Username :</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="inputContainer">
          <label for="password">Password :</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="actionsContainer">
          <button type="submit">Login</button>
        </div>
        <span id="changeRegister">Create an Account</span>
      </form>
    </main>
  </body>
  <script>
    const changeLoginBtn = document.getElementById("changeLogin");
    const changeRegisterBtn = document.getElementById("changeRegister");
    const main = document.getElementById("main");

    const countryInput = document.getElementById("country");

    const fetchCountries = async () => {
      const response = await fetch(
        "https://restcountries.com/v2/all?fields=name"
      );
      const countries = await response.json();

      countries.forEach((country) => {
        const node = document.createElement("option");
        node.value = country.name;
        const textnode = document.createTextNode(country.name);
        node.appendChild(textnode);

        countryInput.appendChild(node);
      });
    };

    fetchCountries();

    changeLoginBtn.addEventListener("click", () => {
      main.className = "login";
    });

    changeRegisterBtn.addEventListener("click", () => {
      main.className = "register";
    });
  </script>
</html>
