<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/game_api_logo.png" />
    <title>Home | Game API</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div id="modal" class="modal">
      <div class="modal_box">
        <h1 class="modal_title">Game Info</h1>
        <div class="infoContainer">
          <div>
            <img id="modal_image" class="imageContainer"></img>
          </div>
          <div class="infoBox">
            <h1>Title : <span id="modal_game_title">Game Title</span></h1>
            <h1>Score : <span id="modal_game_score">Game Score</span></h1>
            <h1>Time : <span id="modal_game_time">Game Time</span></h1>
            <h1>
              Publisher : <span id="modal_game_publisher">Game Publisher</span>
            </h1>
            <h1>User : <span id="modal_game_user">Game User</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="logoContainer">
      <img class="logo" src="/images/game_api_logo.png" alt="logo" />
      <h1>Game API</h1>
    </div>
    <h1>Hello, <%= username %> !<%= isAdmin ? ` (Admin)` : `` %></h1>
    <div class="buttonsContainer">
      <button id="addNewGameButton">Add New Game</button>
      <button id="docsButton">Docs</button>
      <form action="/web/logout" method="post">
        <button type="submit" id="logoutButton">Logout</button>
      </form>
    </div>
    <div class="buttonsContainer">
      <button id="gameHistoryButton">Game History</button>
      <button id="userDataButton">User Data</button>
    </div>
    <table>
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Score</th>
        <th>Time</th>
        <th>Publisher</th>
        <th>User</th>
        <th>Action</th>
      </tr>
      <% let num = 1; %> <% games.forEach(function (game) { %>
      <tr>
        <td><%= num %></td>
        <td><%= game.title %></td>
        <td><%= game.score %></td>
        <td><%= game.hours_time %></td>
        <td><%= game.publisher %></td>
        <td><%= game.user_game.username %></td>
        <td class="actionsColumn">
          <button
            class="infoBtn"
            data-title="<%= game.title %>"
            data-score="<%= game.score %>"
            data-time="<%= game.hours_time %>"
            data-publisher="<%= game.publisher %>"
            data-user="<%= game.user_game.username %>"
            data-image="<%= game.file %>"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-info-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
              />
            </svg>
          </button>
          <button
            class="editBtn <%= (game.user_id != userId && !isAdmin) && 'disabledBtn' %>"
            onclick="window.location.href=`/web/edit-game/<%= game.id %>`"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-pencil-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
              />
            </svg>
          </button>
          <form
            class="d-inline"
            method="post"
            action="/web/delete-game/<%= game.id %>"
          >
            <button
              class="deleteBtn <%= (game.user_id != userId && !isAdmin) && 'disabledBtn' %>"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="currentColor"
                class="bi bi-trash-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                />
              </svg>
            </button>
          </form>
        </td>
      </tr>
      <% num++; %> <% }); %>
    </table>
  </body>
  <script>
    const addNewGameBtn = document.getElementById("addNewGameButton");
    // const createNewUserBtn = document.getElementById("createNewUserButton");
    const gameHistoryBtn = document.getElementById("gameHistoryButton");
    const userDataBtn = document.getElementById("userDataButton");
    // const authBtn = document.getElementById("authButton");
    const docsBtn = document.getElementById("docsButton");
    const infoBtns = document.getElementsByClassName("infoBtn");
    const modal = document.getElementById("modal");
    const modalImage = document.getElementById("modal_image")

    const modalGameTitle = document.getElementById("modal_game_title");
    const modalGameScore = document.getElementById("modal_game_score");
    const modalGameTime = document.getElementById("modal_game_time");
    const modalGamePublisher = document.getElementById("modal_game_publisher");
    const modalGameUser = document.getElementById("modal_game_user");

    for (const infoBtn of infoBtns) {
      infoBtn.addEventListener("click", function () {
        modal.style.display = "flex";
        modalGameTitle.innerText = this.getAttribute("data-title");
        modalGameScore.innerText = this.getAttribute("data-score");
        modalGameTime.innerText = this.getAttribute("data-time");
        modalGamePublisher.innerText = this.getAttribute("data-publisher");
        modalGameUser.innerText = this.getAttribute("data-user");

        if(this.getAttribute('data-image')){
          modalImage.src = `/assets/${this.getAttribute('data-image')}`
        }else{
          modalImage.style.backgroundColor = 'gray'
        }
      
      });
    }

    modal.addEventListener("click", () => {
      modal.style.display = "none";
    });

    addNewGameBtn.addEventListener("click", () => {
      window.location.href = "/web/add-game";
    });
    // createNewUserBtn.addEventListener("click", () => {
    //   window.location.href = "/web/register";
    // });
    gameHistoryBtn.addEventListener("click", () => {
      window.location.href = "/web";
    });
    userDataBtn.addEventListener("click", () => {
      window.location.href = "/web/users";
    });
    // authBtn.addEventListener("click", () => {
    //   window.location.href = "/web/auth";
    // });
    docsBtn.addEventListener("click", () => {
      window.location.href = "/docs";
    });
  </script>
</html>
