<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/game_api_logo.png" />
    <title>Users | Game API</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="logoContainer">
      <img class="logo" src="/images/game_api_logo.png" alt="logo" />
      <h1>Game API</h1>
    </div>
    <h1>Hello, <%= username %> !</h1>
    <div class="buttonsContainer">
      <button id="addNewGameButton">Add New Button</button>
      <button id="docsButton">Docs</button>
      <form action="/web/logout" method="post">
        <button type="submit" id="logoutButton">Logout</button>
      </form>
    </div>
    <div class="buttonsContainer">
      <button id="gameHistoryButton">Game History</button>
      <button id="userDataButton">User Data</button>
    </div>
    <table>
      <tr>
        <th>No</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Country</th>
        <th>E-Mail</th>
        <th>Action</th>
      </tr>
      <% let num = 1; %> <% users.forEach(function (user) { %>
      <tr>
        <td><%= num %></td>
        <td><%= user.username %></td>
        <td>
          <%= (user.user_game_biodata && user.user_game_biodata.first_name) ||
          "" %>
        </td>
        <td>
          <%= (user.user_game_biodata && user.user_game_biodata.last_name) || ""
          %>
        </td>
        <td>
          <%= (user.user_game_biodata && user.user_game_biodata.country) || ""
          %>
        </td>
        <td>
          <%= (user.user_game_biodata && user.user_game_biodata.email) || "" %>
        </td>
        <td class="actionsColumn">
          <button
            class="editBtn <%= (user.id != userId && !isAdmin) && 'disabledBtn' %>"
            onclick="window.location.href=`/web/edit-user/<%= user.id %>`"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-pencil-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
              />
            </svg>
          </button>
          <form
            class="d-inline"
            method="post"
            action="/web/delete-user/<%= user.id %>"
          >
            <button
              class="deleteBtn <%= (user.id != userId && !isAdmin) && 'disabledBtn' %>"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="currentColor"
                class="bi bi-trash-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                />
              </svg>
            </button>
          </form>
        </td>
      </tr>
      <% num++; %> <% }); %>
    </table>
  </body>
  <script>
    const addNewGameBtn = document.getElementById("addNewGameButton");
    // const createNewUserBtn = document.getElementById("createNewUserButton");
    const gameHistoryBtn = document.getElementById("gameHistoryButton");
    const userDataBtn = document.getElementById("userDataButton");
    // const authBtn = document.getElementById("authButton");
    const docsBtn = document.getElementById("docsButton");

    addNewGameBtn.addEventListener("click", () => {
      window.location.href = "/web/add-game";
    });
    // createNewUserBtn.addEventListener("click", () => {
    //   window.location.href = "/web/register";
    // });
    gameHistoryBtn.addEventListener("click", () => {
      window.location.href = "/web";
    });
    userDataBtn.addEventListener("click", () => {
      window.location.href = "/web/users";
    });
    // authBtn.addEventListener("click", () => {
    //   window.location.href = "/web/auth";
    // });
    docsBtn.addEventListener("click", () => {
      window.location.href = "/docs";
    });
  </script>
</html>
