* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  animation: show 1s forwards;
}

.title {
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actionsContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.actionsContainer button,
.uploadBtn {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.inputContainer input {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.uploadBtn {
  background-color: crimson;
  align-self: center;
}

.addGameBtn {
  background-color: #28a745;
}

.cancelBtn {
  background-color: #dc3545;
}

.addGameBtn,
.cancelBtn {
  transition: all 0.1s;
}

.addGameBtn:hover,
.cancelBtn:hover {
  transform: scale(1.1);
}
/* ANIMATIONS */

@keyframes show {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(1);
  }
}

/*  */

@media (max-width: 576px) {
  body {
    align-items: flex-start;
  }
  .box {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .actionsContainer button,
  .inputContainer input {
    font-size: 1rem;
  }
}
