body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque;
}

main {
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 1rem 4rem;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  box-sizing: border-box;
  border-radius: 1rem;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  /* overflow: hidden; */
}

.inputContainer {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
}

.actionsContainer {
  text-align: center;
}

.actionsContainer button {
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: crimson;
}

.inputContainer input,
select {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

select {
  width: 100%;
  border-width: 2px;
}

.nameInputContainer,
.passwordsContainer {
  display: flex;
  justify-content: space-between;
}

/* .nameInputContainer .inputContainer, */
.nameInputContainer .inputContainer,
.passwordsContainer .inputContainer {
  width: 49%;
}

.usernameRoleInputContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.usernameRoleInputContainer .inputContainer:nth-child(1) {
  width: 70%;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
}

.registerForm .inputContainer {
  font-size: 1.5rem;
}

.registerForm .inputContainer input {
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
}

.registerForm {
  gap: 0.25rem;
}

.registerForm .actionsContainer {
  margin-top: 1rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
}

.brand {
  text-align: center;
  font-size: 3rem;
}

.cover {
  position: absolute;
  inset: 0;
  width: 50%;
  background-color: crimson;
  transition: all 0.25s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover img {
  transform: scale(0.75);
}

main.register .cover {
  transform: translateX(100%);
}

main.login .cover {
  transform: translateX(0);
}

#changeLogin,
#changeRegister {
  text-align: center;
  text-decoration: underline;
  font-size: 1.5rem;
}

#changeLogin:hover,
#changeRegister:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .cover {
    display: none;
  }
  form {
    width: auto;
  }

  main.register .loginForm {
    display: none;
  }

  main.login .registerForm {
    display: none;
  }
}

@media (max-width: 576px) {
  main {
    padding: 1rem 2rem;
  }
}

@media (max-width: 480px) {
  main {
    height: 100%;
    width: 100%;
    align-items: flex-start;
  }
  form {
    transform: scale(0.8);
  }
}
