* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

button {
  border: none;
  font-size: 1.5rem;
  padding: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  background-color: crimson;
  border-radius: 1rem;
  transition: all 0.1s;
}

#addNewGameButton {
  background-color: #28a745;
}

#docsButton {
  background-color: #007bff;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  animation: show 1s forwards;
}

.buttonsContainer button:hover,
#addNewGameButton:hover,
#docsButton:hover,
#logoutButton:hover {
  background-color: white;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.title {
  margin: 0;
}

table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0;
  animation: show 1s forwards;
  animation-delay: 0.5s;
}

table,
th,
td {
  font-size: 2rem;
  border-collapse: collapse;
  padding: 1rem;
  text-align: center;
}

th {
  background-color: crimson;
}

td {
  background-color: white;
  border-top: 1px solid black;
}

.actionsColumn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actionsColumn button {
  display: flex;
}

.editBtn {
  background-color: #ffc107;
}

.infoBtn {
  background-color: #007bff;
}

.deleteBtn,
#logoutButton {
  background-color: #dc3545;
}

.disabledBtn {
  background-color: gray;
  cursor: none;
  pointer-events: none;
}

/* INFO MODAL */

.modal {
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  animation: opacity_animation 1s;
  display: none;
}

.modal_box {
  background-color: white;
  border-radius: 1rem;
  animation: show 1s;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal_title {
  text-align: center;
  font-size: 3rem;
}

.modal_box .infoContainer {
  display: flex;
  gap: 1rem;
}

/* .infoContainer div {
  width: 50%;
} */

.modal_box .infoContainer .imageContainer {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 1rem;
  background-size: cover;
  object-fit: cover;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infoBox h1 {
  text-align: start;
  font-size: 1.5rem;
}

.infoBox h1 span {
  font-weight: normal;
}

/*  */

/* ANIMATION */

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes opacity_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  */

@media (max-width: 1024px) {
  body {
    gap: 1rem;
  }

  table,
  th,
  td {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  .actionsColumn {
    gap: 0.1rem;
  }
}

@media (max-width: 786px) {
  table,
  th,
  td {
    font-size: 1rem;
    padding: 0.25rem;
  }
}
